#female_gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 15px; 
    }
#male_gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;  
    }
#bags_gallery{
      display: flex;
      flex-wrap: wrap;
      gap: 15px;  
}
#gallery{
      display: flex;
      flex-wrap: wrap;
      gap: 15px; 
}
.item {
      width: calc((100% - 4*15px)/5); /* 5 карточек в ряд, учитывая gap */
      background: #DCDCDC;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      text-align: center;
      box-sizing: border-box;

    }
.item .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #333;
}
.item img {
      max-width: 70%;  
      object-fit: contain;
      border-radius: 8px;
      display: block;
      margin: 0 auto; 
}

.item a {
      display: inline-block;
      margin-top: 5px;
      text-decoration: none;
      color: #007bff;
      font-weight: 500;
      font-size: 14px;
      text-align: center;
}
.item a:hover {
      color: #0056b3;
}
hr {
  border: none;
  height: 2px;
  background: linear-gradient(to right, #ccc, #62626a, #ccc);
  border-radius: 2px;
  margin: 30px 0;
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #333;
  margin: 15px 0;
  letter-spacing: 0.5px;
}
#searchInputFemale, #searchInputMale, #searchInputBags, #searchInput {
      display:block; 
      margin:20px auto; 
      padding:10px; 
      width:60%; 
      font-size:16px; 
      border-radius:8px; 
      border:1px solid #ccc;
}

