.login-container {
  background: #fafafa;
  padding: 40px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  width: 320px;
  text-align: center;
  animation: fadeIn 0.6s ease;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: 500;
  color: #444;
}

input[type="text"],
input[type="password"] {
  width: 93%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border 0.3s;
}

input:focus {
  border-color: #5563DE;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #5563DE;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background: #3f4cc2;
  transform: translateY(-1px);
}

.register-link {
  display: block;
  margin-top: 15px;
  color: #5563DE;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.register-link:hover {
  color: #2d36a7;
  text-decoration: underline;
}

#message {
  margin-top: 10px;
  font-size: 14px;
  color: red;
  height: 18px
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}