.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}


.slider {
  position: relative;
  width: 90%;
  max-width: 900px;
  height: 550px;
  overflow: hidden;
}


.slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease-in-out;
  pointer-events: none;
}


.slider img.active {
  transform: translateX(0);
  z-index: 2;
  pointer-events: auto;
}

.slider img.next {
  transform: translateX(100%);
  z-index: 1;
}

.slider img.prev {
  transform: translateX(-100%);
  z-index: 1;
}

.no-transition {
  transition: none !important;
}